<div class="container-fluid mt-5">
  <div class="row">
    <div class="col"></div>
    <div class="col-8">
      <div class="card shadow">
        <div class="card-body">
          <form [formGroup]="recipeForm" (ngSubmit)="onSubmit()">
            <div class="mb-3">
              <h4 class="text-dark text-muted">Create Recipe</h4>
            </div>
            <div class="mb-3">
              <label for="title" class="form-label">Title</label>
              <input type="text" class="form-control" id="title" formControlName="title">
            </div>
            <div formArrayName="ingredients">
              <div *ngFor="let ingredientCtrl of getIngredientsControls(); let i = index" class="mb-2" [formGroupName]="i">
                <div class="input-group">
                  <input type="text" class="form-control" placeholder="Ingredient Name" formControlName="name">
                  <input type="text" class="form-control" placeholder="Quantity" formControlName="quantity">
                  <button class="btn btn-danger" type="button" (click)="removeIngredient(i)">Remove</button>
                </div>
              </div>
              <button class="btn btn-primary" type="button" (click)="addIngredient()">Add Ingredient</button>
            </div>
            <!-- Instructions -->
            <div formArrayName="instructions">
              <div *ngFor="let instructionCtrl of getInstructionsControls(); let i = index" class="mb-2">
                <div class="input-group">
                  <input type="text" class="form-control" placeholder="Instruction" [formControlName]="i">
                  <button class="btn btn-danger" type="button" (click)="removeInstruction(i)">Remove</button>
                </div>
              </div>
              <button class="btn btn-primary" type="button" (click)="addInstruction()">Add Instruction</button>
            </div>
            <div class="mb-3">
              <label for="cuisine" class="form-label">Cuisine</label>
              <input type="text" class="form-control" id="cuisine" formControlName="cuisine">
            </div>
            <div class="mb-3">
              <label for="cookingTime" class="form-label">Cooking Time</label>
              <input type="text" class="form-control" id="cookingTime" formControlName="cookingTime">
            </div>
            <div class="mb-3">
              <label for="createdAt" class="form-label">Created At</label>
              <input type="text" class="form-control" id="createdAt" formControlName="createdAt">
            </div>
            <div class="mb-3">
              <label for="photoURL" class="form-label">Upload Image</label>
              <input type="file" class="form-control" id="photoURL" (change)="onImageSelected($event)">
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
          </form>
        </div>
      </div>
    </div>
    <div class="col"></div>
  </div>
</div>