<div class="container relative" style="padding-top: 128px;">
  <!-- Main Content -->
  <div class="container mx-auto flex py-12">
    <!-- Left Side Content -->
    <div class="w-1/2 p-8">
        <h1 class="text-4xl md:text-6xl font-bold mb-4 text-gray-800">Discover Delicious Recipes</h1>
        <p class="text-lg md:text-xl mb-8 text-gray-700">Plan your meals and explore a variety of recipes for every occasion.</p>
        <button (click)="loginOrLogout()" class="bg-primry3 text-white py-2 px-6 rounded-full font-semibold text-lg hover:bg-primry3bold hover:text-white transition duration-300">{{ userId ? 'Logout' : 'Login' }}</button>
    </div>

    <!-- Right Side Image -->
    <div class="w-auto">
        <img src="https://i.postimg.cc/tgPZ98BW/Image-1.png" alt="Food Image" class="w-auto h-auto">
    </div>
</div>
  <div class="row">
    <!-- <div class="col">
      <h1 class="text-3.5xl md:text-5xl leading-10 ">MEAL MIXER</h1>
      <div class="flex gap-10">
        <button class="btn btn-primary" (click)="navigateToCreateRecipe()">Create Recipe</button>
        <button class="btn btn-primary" (click)="navigateToListRecipe()">List Recipe</button>
        <button class="btn btn-primary" (click)="navigateToUserProfile()">User Profile</button>
        <button class="btn btn-primary" (click)="navigateToFollowUsers()">Follow Users</button>
        <button class="btn btn-primary" (click)="navigateToMealPlanning()">MealPlanning</button>
        <button class="btn btn-primary" (click)="navigateToMealPlanningList()">MealPlanningList</button>
      </div>
    </div> -->
    
    <img class=" object-right-bottom  w-auto h-auto" src="https://i.postimg.cc/tgPZ98BW/Image-1.png">

  </div>
</div>
