<div class="container">
  <div class="row">
    <div class="col">
      <h2>Welcome to the Dashboard!</h2>
      <div style="display: flex; gap: 10px;">
        <button class="btn btn-primary" (click)="navigateToCreateRecipe()">Create Recipe</button>
        <button class="btn btn-primary" (click)="navigateToListRecipe()">List Recipe</button>
        <button class="btn btn-primary" (click)="navigateToUserProfile()">User Profile</button> <!-- Add this button -->
        <button class="btn btn-primary" (click)="navigateToFollowUsers()">Follow Users</button>

      </div>
    </div>
  </div>
</div>
